<%- include('./partials/header') %> <%- include('./partials/menu') %>

<section id="intro" class="clearfix bg-img">
	<div class="container d-flex h-100 my-class pos-rel">
		<div class="row justify-content-center align-self-center">
			<div class="col-md-12 col-lg-8 intro-info order-md-first order-last">
				<h2>
					<span> NFT-LEND Home Page</span><br />
				</h2>
				<!--    <div class="text-center">
                     <a href="#about" class="btn-get-started scrollto">Get Started</a>
                     </div> -->
			</div>
			<div class="container pb-5 mt-3 mb-5" id="my-class">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="row justify-content-between">
							<div class="col-lg-5 col-md-6" id="my-box1">
								<div class="about-content box1">
									<h2 class="text-left text-uppercase mb-2">Connect to metamask</h2>
									<div class="text-left" style="margin-bottom: 2px">
										<a
											data-toggle="modal"
											data-target="#dashborad"
											class="bordera"
										>
											<img src="web/img/img-logo.png" width="150"
										/></a>
										<button
											class="btn btn-primary btn-lg mb-3"
											id="connectButton"
											onclick='<%= session.isLoggedIn ? "redirectToDashboard()" : "connectToMetaMask()" %>'
										>
											<%= session.isLoggedIn ? 'Go to Dashboard' : 'Connect' %>
										</button>
										<!-- {{!-- <h4>Contract Address: <span id="accounts"></span></h4> --}} -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('./partials/footer') %>
